body {
    font-family: monospace;
    color:white;
    background-image:url(foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  
}
#header {
    color:white;
    text-align: center;
    font-size: 120%;
    border:4px solid white;
    border-radius: 20px;
    background-color:	#505050;
    width:600px;
    margin: auto;
    margin-bottom: 50px;     
    margin-top: 20px;
}   
p {
   text-align: center;
}
p3 {
    color:white;
    text-align:justify;
    font-family: monospace;
    font-size: 200%;
    border:2px solid white;
    padding:40px;
    margin:20px;
      background-color:#787878;
}
p4 {
    color:white;
    text-align: justify;
    font-family: monospace;
    font-size: 200%;
    border:2px solid white;
    padding:40px;
    margin:60px;
    background-color:#787878;
}
#footer {
    color: white;
    text-align: center;
    background-color:#505050 ;
    font-size: 200%;
    border: 4px solid white;
    width: 584px;
    border-radius:20px;
    margin: auto;
    position: center;
    margin-top: 50px;
    padding: 5px;
    
}
#section {
    position: center;
    font-size: 200%;
    text-align: center;
    border: 4px solid white;
    border-radius: 20px;
    background-color:#787878 ;
    padding-left: 20px;
    padding-right: 20px;
    width: 555px;
    margin: auto;
    margin-top: 50px;
}
div#section3 {
    position: center;
    padding: inherit 20px;
    font-size: 200%;
    text-align: center;
    border: 4px solid white;
    border-radius: 20px;
    background-color: #787878;
    padding: 20px;
    width: 555px;
    margin: auto;
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 70px;
}
div#section4 {
    position: center;
    padding: inherit 20px;
    font-size: 200%;
    text-align: center;
    border: 4px solid white;
    border-radius: 20px;
    background-color: #787878;
    padding: 20px;
    width: 555px;
    margin: auto;
    margin-top: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
}
p {
    font-size: 120%;
    text-align: left;
    margin: 5px;
}
a:active {
    color:white;
    text-decoration: none;
    background-color: transparent;  
}
a:visited {
    color:white;
    text-decoration: none;
    background-color: transparent;    
}
a:link {
    color:white;
    text-decoration: none;
    background-color: transparent;
} 
a:hover {
    color:white;
    text-decoration: none;
    background-color: transparent;
}
#header a:hover{
    color:white;
}
#section a:hover{
    color:black;
}
bron navigatiebar http://html.cita.illinois.edu/nav/menu/menu-example-hrzt.php{
}
div#hmenu { 
   margin: 50px; 
   padding: .3em 0 .3em 0; 
   width: 610px; 
   text-align: center; 
    margin: auto;
    color:black;
    text-decoration: bold;
    padding: 25px;
} 
div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   font-size: 200%; 
   color: white; 
} 
div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 
#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 
div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
    border: 3px solid;
    border-radius: 10px;
    background-color: SlateGray;
   font-size: 200%; 
   color: black; 
    padding: 20px;
} 
div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   font-weight: bold; 
   font-size: 200%; 
   color: white; 
} 
div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   font-weight: bold; 
   font-size: 200%; 
   color: black ; 
   padding: 20px;
}